body {
  font-family: "Murecho" sans-serif;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  display: inline-block;
}

.badge-active {
  background-color: #e1ffc5;
  color: #577839;
  padding: 4px 20px;
}

.badge-pending {
  background-color: #fceeb8;
  color: #827230;
  padding: 4px 20px;
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

.btn-edit {
  background-color: #97b2ca !important;
  color: white !important;
  border-radius: 20px;
  padding: 10px 30px;
  margin-right: 10px;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn-edit:hover {
  background-color: #86a3bd !important;
  color: white !important;
}

.btn-delete {
  background-color: #fb8181 !important;
  color: white !important;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 24px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn-delete:hover {
  background-color: #fa7474 !important;
  color: white !important;
}

.status-badge {
  padding: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  min-width: 80px;
}
