html,
body {
  font-family: "Murecho", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent full-page scroll */
}

body {
  background-color: #f6f6f6;
}

/*
.user-management-container {
  height: calc(100vh - 100px); // Adjust for header 
  padding: 20px 50px;
  margin-left: 260px; // full sidebar width 
  width: calc(100% - 260px); // dynamic width 
  transition: all 0.3s ease;
  background-color: #f6f6f6;
}

.user-management-container.sidebar-collapsed {
  margin-left: 60px; // collapsed sidebar width
  width: calc(100% - 60px); // expanded main area
}
  */

.user-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

h1 {
  margin: 0;
  font-family: "Murecho", sans-serif !important;
}

.user-table-wrapper {
  overflow-x: auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;

  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-name {
    font-weight: bold;
  }

  .user-id {
    font-size: 12px;
    color: gray;
  }
}

.btn-adduser {
  color: black !important;
  background-color: #70d3c3 !important;
  border-radius: 10px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  padding: 0 14px;
  line-height: 1;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
