// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Murecho,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  font-family: "Murecho", sans-serif;
}
body {
  margin: 0;
  background-color: #f6f6f6;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px; /* standard toolbar height */
}

//////////////// Language Dropdown Styles ////////////////////
// Hover
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background: #d0e5e0 !important;
}

// Active Option
.mat-mdc-option.mat-mdc-option-active {
  background-color: rgba(113, 139, 135, 0.7) !important;
}

// Selected
.mat-mdc-option.mdc-list-item--selected:not(.mdc-option-multiple):not(
    .mdc-list-item--disabled
  ) {
  background: rgba(113, 139, 135, 0.7) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: #ffffff !important;
}
